@using WebMVC.Models

@model PlatesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Plates</h1>

    @if (Model.Plates != null && Model.Plates.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Registration</th>
                    <th>Purchase Price</th>
                    <th>Sale Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var plate in Model.Plates)
                {
                    <tr>
                        <td>
                            <a asp-controller="Plates" asp-action="Details" asp-route-id="@plate.Id">@plate.Registration</a>
                        </td>
                        <td>@plate.PurchasePrice</td>
                        <td>@plate.SalePrice</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No plates available.</p>
    }
</div>
