@model List<Catalog.Domain.Plate>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is Daniel Schoder's solution of the RT coding exercise.
    </p>
    <p>
        Here is a <a class="text-dark" asp-area="" asp-controller="Plates" asp-action="Index">list of plates</a>!
    </p>
    <p>
        <a href="https://github.com/danielschoder/RT">GitHub</a>
    </p>
</div>